@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239,234,227);
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(49, 47, 47, 0.74);
    border-radius: 50px;
    font-weight: 500;
    color: rgba(7, 7, 7, 0.521);
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0 ;
}

#nav-part2 h4 a{
    color: rgba(0, 0, 0, 0.486);
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(43, 40, 40, 0.432);
    padding-bottom: 2.5vw;
}

#left{
    width: 30vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;

}

#hero-1{
    background-color: #FE380C;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
}

#hero-2{
    background: linear-gradient(#FE380C,#fe3c0c);
    height: 30vw;
    width: 30vw ;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3{
    background: linear-gradient(#FE380C,#fe3c0c);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,-10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE380C;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);

    }
    
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    padding: 4.5vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index:9 ;
}

#page2-bottom h1{
    font-size: 4vw;
    width: 70%;
    line-height: 4vw;
    font-weight: 600;

}
#bottom-page2{
    width: 20%;

}

#bottom-page2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-page2 p{
    font-weight: 400;
    font-size:1vw;
    line-height: 1.4vw;
    text-align: justify;
    margin-top: 2vw;
}

#page2 #gooey{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooey{
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%,10%) skew(-12deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
    
}
.elem{
    height: 150px;
    width: 100%;
    /* background-color: orange; */
    position: relative;
    border-bottom: 1px solid #585151a6;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2{
    font-size: 4vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition:all ease 0.25s;
}

.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 25vw;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;

}